{
  "openapi": "3.0.4",
  "info": {
    "title": "OData Service for namespace microsoft.graph",
    "description": "This OData service is located at https://graph.microsoft.com/v1.0",
    "version": "v1.0",
    "x-ms-generated-by": {
      "toolName": "Microsoft.OpenApi.OData",
      "toolVersion": "0.0.0.0"
    }
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0"
    }
  ],
  "paths": {
    "/teams": {
      "description": "Provides operations to manage the collection of team entities.",
      "post": {
        "tags": [
          "teams.team"
        ],
        "summary": "Create team",
        "description": "Create a new team.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/team-post?view=graph-rest-1.0"
        },
        "operationId": "createTeam",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphTeam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Any Response",
            "content": {
              "*/*": {
                "schema": {
                  "description": "Any type of entity body"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/teams/{teamId}": {
      "description": "Provides operations to manage the collection of team entities.",
      "get": {
        "tags": [
          "teams.team"
        ],
        "summary": "Get team",
        "description": "Retrieve the properties and relationships of the specified team.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/team-get?view=graph-rest-1.0"
        },
        "operationId": "getTeam",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphTeam"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "teams.team"
        ],
        "summary": "Delete entity from teams",
        "operationId": "deleteTeam",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "ifMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "teams.team"
        ],
        "summary": "Update team",
        "description": "Update the properties of the specified team.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/team-update?view=graph-rest-1.0"
        },
        "operationId": "updateTeam",
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphTeam"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Any Response",
            "content": {
              "*/*": {
                "schema": {
                  "description": "Any type of entity body"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        }
      ]
    },
    "/teams/{teamId}/allChannels": {
      "description": "Provides operations to manage the allChannels property of the microsoft.graph.team entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "List allChannels",
        "description": "Get the list of channels either in this team or shared with this team (incoming channels).",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/team-list-allchannels?view=graph-rest-1.0"
        },
        "operationId": "listAllChannels",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarOrderby"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/microsoft.graph.channelCollectionResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        }
      ]
    },
    "/teams/{teamId}/allChannels/{channelId}": {
      "description": "Provides operations to manage the allChannels property of the microsoft.graph.team entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get allChannels from teams",
        "description": "List of channels either hosted in or shared with the team (incoming channels).",
        "operationId": "getAllChannel",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphChannel"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ]
    },
    "/teams/{teamId}/allChannels/$count": {
      "description": "Provides operations to count the resources in the collection.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get the number of the resource",
        "operationId": "countAllChannels",
        "parameters": [
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/ODataCountResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        }
      ]
    },
    "/teams/{teamId}/channels": {
      "description": "Provides operations to manage the channels property of the microsoft.graph.team entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "List channels",
        "description": "Retrieve the list of channels in this team.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-list?view=graph-rest-1.0"
        },
        "operationId": "listChannels",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarOrderby"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/microsoft.graph.channelCollectionResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Create channel",
        "description": "Create a new channel in a team, as specified in the request body. When you create a channel, the maximum length of the channel's displayName is 50 characters. This is the name that appears to the user in Microsoft Teams. If you're creating a private channel, you can add a maximum of 200 members.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-post?view=graph-rest-1.0"
        },
        "operationId": "createChannel",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphChannel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Any Response",
            "content": {
              "*/*": {
                "schema": {
                  "description": "Any type of entity body"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        }
      ]
    },
    "/teams/{teamId}/channels/{channelId}": {
      "description": "Provides operations to manage the channels property of the microsoft.graph.team entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get channel",
        "description": "Retrieve the properties and relationships of a channel. This method supports federation. Only a user who is a member of the shared channel can retrieve channel information.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-get?view=graph-rest-1.0"
        },
        "operationId": "getChannel",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphChannel"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Delete channel",
        "description": "Delete the channel.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-delete?view=graph-rest-1.0"
        },
        "operationId": "deleteChannel",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "ifMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Patch channel",
        "description": "Update the properties of the specified channel.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-patch?view=graph-rest-1.0"
        },
        "operationId": "updateChannel",
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphChannel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Any Response",
            "content": {
              "*/*": {
                "schema": {
                  "description": "Any type of entity body"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ]
    },
    "/teams/{teamId}/channels/{channelId}/allMembers": {
      "description": "Provides operations to manage the allMembers property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "List allMembers",
        "description": "Get a list of all members in a channel. This API supports all channel types, including shared channels. For shared channels, the response includes:",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-list-allmembers?view=graph-rest-1.0"
        },
        "operationId": "listChannelAllMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarOrderby"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/microsoft.graph.conversationMemberCollectionResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Create new navigation property to allMembers for teams",
        "operationId": "createChannelAllMember",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Created navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/allMembers"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/allMembers/{conversationMemberId}": {
      "description": "Provides operations to manage the allMembers property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get allMembers from teams",
        "description": "A collection of membership records associated with the channel, including both direct and indirect members of shared channels.",
        "operationId": "getChannelAllMember",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Delete navigation property allMembers for teams",
        "operationId": "deleteChannelAllMember",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "ifMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Update the navigation property allMembers in teams",
        "operationId": "updateChannelAllMember",
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        },
        {
          "name": "conversationMemberId",
          "in": "path",
          "description": "The unique identifier of conversationMember",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "conversationMember"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/allMembers/{conversationMember-id}"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/allMembers/$count": {
      "description": "Provides operations to count the resources in the collection.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get the number of the resource",
        "operationId": "countChannelAllMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/ODataCountResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ]
    },
    "/teams/{teamId}/channels/{channelId}/allMembers/add": {
      "description": "Provides operations to call the add method.",
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Invoke action add",
        "description": "Add multiple members in a single request to a team. The response provides details about which memberships could and couldn't be created.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/conversationmembers-add?view=graph-rest-1.0"
        },
        "operationId": "addChannelAllMembers",
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResultPartCollectionResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/channels/{channel-id}/members/add",
        "/teams/{team-id}/members/add",
        "/teams/{team-id}/primaryChannel/allMembers/add",
        "/teams/{team-id}/primaryChannel/members/add"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/allMembers/remove": {
      "description": "Provides operations to call the remove method.",
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Invoke action remove",
        "description": "Remove multiple members from a team in a single request. The response provides details about which memberships could and couldn't be removed.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/conversationmember-remove?view=graph-rest-1.0"
        },
        "operationId": "removeChannelAllMembers",
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResultPartCollectionResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/channels/{channel-id}/members/remove",
        "/teams/{team-id}/members/remove",
        "/teams/{team-id}/primaryChannel/allMembers/remove",
        "/teams/{team-id}/primaryChannel/members/remove"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/enabledApps": {
      "description": "Provides operations to manage the enabledApps property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "List enabledApps",
        "description": "Get a list of the enabled apps in the specified channel within a team.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-list-enabledapps?view=graph-rest-1.0"
        },
        "operationId": "listChannelEnabledApps",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarOrderby"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/microsoft.graph.teamsAppCollectionResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/enabledApps"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/enabledApps/{teamsAppId}": {
      "description": "Provides operations to manage the enabledApps property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get teamsApp",
        "description": "Get an enabled app in the specified channel within a team.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/teamsapp-get?view=graph-rest-1.0"
        },
        "operationId": "getChannelEnabledApp",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphTeamsApp"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        },
        {
          "name": "teamsAppId",
          "in": "path",
          "description": "The unique identifier of teamsApp",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "teamsApp"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/enabledApps/{teamsApp-id}"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/enabledApps/$count": {
      "description": "Provides operations to count the resources in the collection.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get the number of the resource",
        "operationId": "countChannelEnabledApps",
        "parameters": [
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/ODataCountResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ]
    },
    "/teams/{teamId}/channels/{channelId}/filesFolder": {
      "description": "Provides operations to manage the filesFolder property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get filesFolder",
        "description": "Get the metadata for the location where the files of a channel are stored. ",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-get-filesfolder?view=graph-rest-1.0"
        },
        "operationId": "getChannelFilesFolder",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphDriveItem"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/filesFolder"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/filesFolder/content": {
      "description": "Provides operations to manage the media for the team entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get content for the navigation property filesFolder from teams",
        "description": "The content stream, if the item represents a file.",
        "operationId": "getChannelFilesFolderContent",
        "parameters": [
          {
            "name": "$format",
            "in": "query",
            "description": "Format of the content",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "dollarFormat"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved media content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "put": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Update content for the navigation property filesFolder in teams",
        "description": "The content stream, if the item represents a file.",
        "operationId": "updateChannelFilesFolderContent",
        "requestBody": {
          "description": "New media content",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphDriveItem"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Delete content for the navigation property filesFolder in teams",
        "description": "The content stream, if the item represents a file.",
        "operationId": "deleteChannelFilesFolderContent",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ]
    },
    "/teams/{teamId}/channels/{channelId}/members": {
      "description": "Provides operations to manage the members property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "List members of a channel",
        "description": "Get a list of members in a channel, including direct members of standard, private, and shared channels. Use the List allMembers API to retrieve both direct and indirect members of a shared channel. This method supports federation. Only a user who is a member of the shared channel can retrieve the channel member list.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-list-members?view=graph-rest-1.0"
        },
        "operationId": "listChannelMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarOrderby"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/microsoft.graph.conversationMemberCollectionResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Add member to channel",
        "description": "Add a conversationMember to a channel. This operation is allowed only for channels with a membershipType value of private or shared.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-post-members?view=graph-rest-1.0"
        },
        "operationId": "createChannelMember",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Created navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/members"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/members/{conversationMemberId}": {
      "description": "Provides operations to manage the members property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get member of channel",
        "description": "Get a conversationMember from a channel.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-get-members?view=graph-rest-1.0"
        },
        "operationId": "getChannelMember",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Remove member from channel",
        "description": "Delete a conversationMember from a channel. This operation is allowed only for channels with a membershipType value of private or shared.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-delete-members?view=graph-rest-1.0"
        },
        "operationId": "deleteChannelMember",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "ifMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Update member in channel",
        "description": "Update the role of a conversationMember in a channel. This operation is allowed only for channels with a membershipType value of private or shared.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-update-members?view=graph-rest-1.0"
        },
        "operationId": "updateChannelMember",
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphConversationMember"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        },
        {
          "name": "conversationMemberId",
          "in": "path",
          "description": "The unique identifier of conversationMember",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "conversationMember"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/members/{conversationMember-id}"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/members/$count": {
      "description": "Provides operations to count the resources in the collection.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get the number of the resource",
        "operationId": "countChannelMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/ODataCountResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ]
    },
    "/teams/{teamId}/channels/{channelId}/members/add": {
      "description": "Provides operations to call the add method.",
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Invoke action add",
        "description": "Add multiple members in a single request to a team. The response provides details about which memberships could and couldn't be created.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/conversationmembers-add?view=graph-rest-1.0"
        },
        "operationId": "addChannelMembers",
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResultPartCollectionResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/channels/{channel-id}/allMembers/add",
        "/teams/{team-id}/members/add",
        "/teams/{team-id}/primaryChannel/allMembers/add",
        "/teams/{team-id}/primaryChannel/members/add"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/members/remove": {
      "description": "Provides operations to call the remove method.",
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Invoke action remove",
        "description": "Remove multiple members from a team in a single request. The response provides details about which memberships could and couldn't be removed.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/conversationmember-remove?view=graph-rest-1.0"
        },
        "operationId": "removeChannelMembers",
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMembersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResultPartCollectionResponse"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/channels/{channel-id}/allMembers/remove",
        "/teams/{team-id}/members/remove",
        "/teams/{team-id}/primaryChannel/allMembers/remove",
        "/teams/{team-id}/primaryChannel/members/remove"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/messages": {
      "description": "Provides operations to manage the messages property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "List channel messages",
        "description": "Retrieve the list of messages (without the replies) in a channel of a team.  To get the replies for a message, call the list message replies or the get message reply API.  This method supports federation. To list channel messages in application context, the request must be made from the tenant that the channel owner belongs to (represented by the tenantId property on the channel).",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-list-messages?view=graph-rest-1.0"
        },
        "operationId": "listChannelMessages",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarOrderby"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/microsoft.graph.chatMessageCollectionResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Send chatMessage in channel",
        "description": "Send a new chatMessage in the specified channel.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/channel-post-messages?view=graph-rest-1.0"
        },
        "operationId": "createChannelMessage",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphChatMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Created navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphChatMessage"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/messages"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/messages/{chatMessageId}": {
      "description": "Provides operations to manage the messages property of the microsoft.graph.channel entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get chatMessage in a channel or chat",
        "description": "Retrieve a single message or a message reply in a channel or a chat.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/chatmessage-get?view=graph-rest-1.0"
        },
        "operationId": "getChannelMessage",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphChatMessage"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Delete navigation property messages for teams",
        "operationId": "deleteChannelMessage",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "ifMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Update chatMessage",
        "description": "Update a chatMessage object. \r\nExcept for the policyViolation property, all properties of a chatMessage can be updated in delegated permissions scenarios.\r\nOnly the policyViolation property of a chatMessage can be updated in application permissions scenarios. The update only works for chats where members are Microsoft Teams users. If one of the participants is using Skype, the operation fails. This method doesn't support federation. Only the user in the tenant who sent the message can perform data loss prevention (DLP) updates on the specified chat message.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/chatmessage-update?view=graph-rest-1.0"
        },
        "operationId": "updateChannelMessage",
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphChatMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Any Response",
            "content": {
              "*/*": {
                "schema": {
                  "description": "Any type of entity body"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        },
        {
          "name": "chatMessageId",
          "in": "path",
          "description": "The unique identifier of chatMessage",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "chatMessage"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/primaryChannel/messages/{chatMessage-id}"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/messages/{chatMessageId}/hostedContents": {
      "description": "Provides operations to manage the hostedContents property of the microsoft.graph.chatMessage entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "List hostedContents",
        "description": "Retrieve the list of chatMessageHostedContent objects from a message. This API only lists the hosted content objects. To get the content bytes, see get chatmessage hosted content.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/chatmessage-list-hostedcontents?view=graph-rest-1.0"
        },
        "operationId": "listChannelMessageHostedContents",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarOrderby"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "$ref": "#/components/responses/microsoft.graph.chatMessageHostedContentCollectionResponse"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Create new navigation property to hostedContents for teams",
        "operationId": "createChannelMessageHostedContent",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphChatMessageHostedContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Created navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphChatMessageHostedContent"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        },
        {
          "name": "chatMessageId",
          "in": "path",
          "description": "The unique identifier of chatMessage",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "chatMessage"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents",
        "/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/hostedContents",
        "/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/messages/{chatMessageId}/hostedContents/{chatMessageHostedContentId}": {
      "description": "Provides operations to manage the hostedContents property of the microsoft.graph.chatMessage entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Get hostedContents from teams",
        "description": "Content in a message hosted by Microsoft Teams - for example, images or code snippets.",
        "operationId": "getChannelMessageHostedContent",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarSelect"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-ballerina-name": "dollarExpand"
          }
        ],
        "responses": {
          "2XX": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphChatMessageHostedContent"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "delete": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Delete navigation property hostedContents for teams",
        "operationId": "deleteChannelMessageHostedContent",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "ifMatch"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Update the navigation property hostedContents in teams",
        "operationId": "updateChannelMessageHostedContent",
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MicrosoftGraphChatMessageHostedContent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MicrosoftGraphChatMessageHostedContent"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        },
        {
          "name": "chatMessageId",
          "in": "path",
          "description": "The unique identifier of chatMessage",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "chatMessage"
        },
        {
          "name": "chatMessageHostedContentId",
          "in": "path",
          "description": "The unique identifier of chatMessageHostedContent",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "chatMessageHostedContent"
        }
      ],
      "x-ms-docs-grouped-path": [
        "/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/{chatMessageHostedContent-id}",
        "/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}",
        "/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/{chatMessageHostedContent-id}"
      ]
    },
    "/teams/{teamId}/channels/{channelId}/messages/{chatMessageId}/hostedContents/{chatMessageHostedContentId}/$value": {
      "description": "Provides operations to manage the media for the team entity.",
      "get": {
        "tags": [
          "teams.channel"
        ],
        "summary": "List hostedContents",
        "description": "Retrieve the list of chatMessageHostedContent objects from a message. This API only lists the hosted content objects. To get the content bytes, see get chatmessage hosted content.",
        "externalDocs": {
          "description": "Find more info here",
          "url": "https://learn.microsoft.com/graph/api/chatmessage-list-hostedcontents?view=graph-rest-1.0"
        },
        "operationId": "getChannelMessageHostedContentValue",
        "responses": {
          "2XX": {
            "description": "Retrieved media content",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "put": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Update media content for the navigation property hostedContents in teams",
        "description": "The unique identifier for an entity. Read-only.",
        "operationId": "updateChannelMessageHostedContentValue",
        "requestBody": {
          "description": "New media content",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          },
          "required": true
        },
        "responses": {
          "2XX": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "tags": [
          "teams.channel"
        ],
        "summary": "Delete media content for the navigation property hostedContents in teams",
        "description": "The unique identifier for an entity. Read-only.",
        "operationId": "deleteChannelMessageHostedContentValue",
        "parameters": [
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          },
          "5XX": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "name": "teamId",
          "in": "path",
          "description": "The unique identifier of team",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "team"
        },
        {
          "name": "channelId",
          "in": "path",
          "description": "The unique identifier of channel",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "channel"
        },
        {
          "name": "chatMessageId",
          "in": "path",
          "description": "The unique identifier of chatMessage",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "chatMessage"
        },
        {
          "name": "chatMessageHostedContentId",
          "in": "path",
          "description": "The unique identifier of chatMessageHostedContent",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          },
          "x-ms-docs-key-type": "chatMessageHostedContent"
        }
      ]
    },
    "/teams/{teamId}/channels/{channelId}/messages/{chatMessageId}/hostedContents/$count": {
      "description": "Provides operations to count the resources in the collection.",
      "get": {
        "tags": [
          "teams.channel"
        ],
[...]
