# Endpoints starting with /teams extracted from graphapi-openapi_spec.yaml.
# 146 tenant-wide / lifecycle admin operations removed (team lifecycle, group,
# async operations, photo, installedApps, permissionGrants, channel & primaryChannel
# lifecycle/migration + sharedWithTeams, and the full schedule/shifts subtree).
# Remaining: 116 paths / 186 operations.
# A self-contained components section (100 schemas, 10 responses, 5 parameters) was
# extracted from the source as the minimal closure needed by these endpoints.
# Navigation-property fields (x-ms-navigationProperty) and discriminator mappings were
# pruned so entity references don't drag in the whole Graph model; related resources
# remain available via their own endpoints. Validated with `bal openapi` (client generates).
# Authentication: added Microsoft identity platform (Entra ID) OAuth2 security scheme
# ('azureaadv2') with authorization-code (delegated, incl. offline_access refresh) and
# client-credentials (app-only, .default scope) flows, plus a global `security`
# requirement, since the Graph source spec omits securitySchemes entirely.
openapi: 3.0.4
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 0.0.0.0
servers:
  - url: https://graph.microsoft.com/v1.0
security:
  - azureaadv2: []
paths:
  /teams:
    description: Provides operations to manage the collection of team entities.
    post:
      tags:
        - teams.team
      summary: Create team
      description: Create a new team.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-post?view=graph-rest-1.0
      operationId: teams.team.CreateTeam
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
        required: true
      responses:
        2XX:
          description: Any Response
          content:
            '*/*':
              schema:
                description: Any type of entity body
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/teams/{team-id}':
    description: Provides operations to manage the collection of team entities.
    get:
      tags:
        - teams.team
      summary: Get team
      description: Retrieve the properties and relationships of the specified team.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-get?view=graph-rest-1.0
      operationId: teams.team.GetTeam
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.team
      summary: Update team
      description: Update the properties of the specified team.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-update?view=graph-rest-1.0
      operationId: teams.team.UpdateTeam
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Team'
        required: true
      responses:
        2XX:
          description: Any Response
          content:
            '*/*':
              schema:
                description: Any type of entity body
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.team
      summary: Delete entity from teams
      operationId: teams.team.DeleteTeam
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
  '/teams/{team-id}/allChannels':
    description: Provides operations to manage the allChannels property of the microsoft.graph.team entity.
    get:
      tags:
        - teams.channel
      summary: List allChannels
      description: Get the list of channels either in this team or shared with this team (incoming channels).
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/team-list-allchannels?view=graph-rest-1.0
      operationId: teams.ListAllChannels
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/ChannelCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
  '/teams/{team-id}/allChannels/{channel-id}':
    description: Provides operations to manage the allChannels property of the microsoft.graph.team entity.
    get:
      tags:
        - teams.channel
      summary: Get allChannels from teams
      description: List of channels either hosted in or shared with the team (incoming channels).
      operationId: teams.GetAllChannels
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
  '/teams/{team-id}/allChannels/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - teams.channel
      summary: Get the number of the resource
      operationId: teams.allChannels.GetCount-f86a
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
  '/teams/{team-id}/channels':
    description: Provides operations to manage the channels property of the microsoft.graph.team entity.
    get:
      tags:
        - teams.channel
      summary: List channels
      description: Retrieve the list of channels in this team.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-list?view=graph-rest-1.0
      operationId: teams.ListChannels
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/ChannelCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - teams.channel
      summary: Create channel
      description: 'Create a new channel in a team, as specified in the request body. When you create a channel, the maximum length of the channel''s displayName is 50 characters. This is the name that appears to the user in Microsoft Teams. If you''re creating a private channel, you can add a maximum of 200 members.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-post?view=graph-rest-1.0
      operationId: teams.CreateChannels
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        2XX:
          description: Any Response
          content:
            '*/*':
              schema:
                description: Any type of entity body
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
  '/teams/{team-id}/channels/{channel-id}':
    description: Provides operations to manage the channels property of the microsoft.graph.team entity.
    get:
      tags:
        - teams.channel
      summary: Get channel
      description: Retrieve the properties and relationships of a channel. This method supports federation. Only a user who is a member of the shared channel can retrieve channel information.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-get?view=graph-rest-1.0
      operationId: teams.GetChannels
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.channel
      summary: Patch channel
      description: Update the properties of the specified channel.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-patch?view=graph-rest-1.0
      operationId: teams.UpdateChannels
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Channel'
        required: true
      responses:
        2XX:
          description: Any Response
          content:
            '*/*':
              schema:
                description: Any type of entity body
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.channel
      summary: Delete channel
      description: Delete the channel.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-delete?view=graph-rest-1.0
      operationId: teams.DeleteChannels
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
  '/teams/{team-id}/channels/{channel-id}/allMembers':
    description: Provides operations to manage the allMembers property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: List allMembers
      description: 'Get a list of all members in a channel. This API supports all channel types, including shared channels. For shared channels, the response includes:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-list-allmembers?view=graph-rest-1.0
      operationId: teams.channels.ListAllMembers
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/ConversationMemberCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - teams.channel
      summary: Create new navigation property to allMembers for teams
      operationId: teams.channels.CreateAllMembers
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMember'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/allMembers'
  '/teams/{team-id}/channels/{channel-id}/allMembers/{conversationMember-id}':
    description: Provides operations to manage the allMembers property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: Get allMembers from teams
      description: 'A collection of membership records associated with the channel, including both direct and indirect members of shared channels.'
      operationId: teams.channels.GetAllMembers
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.channel
      summary: Update the navigation property allMembers in teams
      operationId: teams.channels.UpdateAllMembers
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.channel
      summary: Delete navigation property allMembers for teams
      operationId: teams.channels.DeleteAllMembers
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: conversationMember-id
        in: path
        description: The unique identifier of conversationMember
        required: true
        schema:
          type: string
        x-ms-docs-key-type: conversationMember
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/allMembers/{conversationMember-id}'
  '/teams/{team-id}/channels/{channel-id}/allMembers/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - teams.channel
      summary: Get the number of the resource
      operationId: teams.channels.allMembers.GetCount-ea4d
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
  '/teams/{team-id}/channels/{channel-id}/allMembers/add':
    description: Provides operations to call the add method.
    post:
      tags:
        - teams.channel
      summary: Invoke action add
      description: Add multiple members in a single request to a team. The response provides details about which memberships could and couldn't be created.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/conversationmembers-add?view=graph-rest-1.0
      operationId: teams.team.channels.channel.allMembers.add
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    $ref: '#/components/schemas/ConversationMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/ActionResultPart'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/members/add'
      - '/teams/{team-id}/members/add'
      - '/teams/{team-id}/primaryChannel/allMembers/add'
      - '/teams/{team-id}/primaryChannel/members/add'
  '/teams/{team-id}/channels/{channel-id}/allMembers/remove':
    description: Provides operations to call the remove method.
    post:
      tags:
        - teams.channel
      summary: Invoke action remove
      description: Remove multiple members from a team in a single request. The response provides details about which memberships could and couldn't be removed.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/conversationmember-remove?view=graph-rest-1.0
      operationId: teams.team.channels.channel.allMembers.remove
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    $ref: '#/components/schemas/ConversationMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/ActionResultPart'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/members/remove'
      - '/teams/{team-id}/members/remove'
      - '/teams/{team-id}/primaryChannel/allMembers/remove'
      - '/teams/{team-id}/primaryChannel/members/remove'
  '/teams/{team-id}/channels/{channel-id}/enabledApps':
    description: Provides operations to manage the enabledApps property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: List enabledApps
      description: Get a list of the enabled apps in the specified channel within a team.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-list-enabledapps?view=graph-rest-1.0
      operationId: teams.channels.ListEnabledApps
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/TeamsAppCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/enabledApps'
  '/teams/{team-id}/channels/{channel-id}/enabledApps/{teamsApp-id}':
    description: Provides operations to manage the enabledApps property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: Get teamsApp
      description: Get an enabled app in the specified channel within a team.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/teamsapp-get?view=graph-rest-1.0
      operationId: teams.channels.GetEnabledApps
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsApp'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: teamsApp-id
        in: path
        description: The unique identifier of teamsApp
        required: true
        schema:
          type: string
        x-ms-docs-key-type: teamsApp
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/enabledApps/{teamsApp-id}'
  '/teams/{team-id}/channels/{channel-id}/enabledApps/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - teams.channel
      summary: Get the number of the resource
      operationId: teams.channels.enabledApps.GetCount-6262
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
  '/teams/{team-id}/channels/{channel-id}/filesFolder':
    description: Provides operations to manage the filesFolder property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: Get filesFolder
      description: 'Get the metadata for the location where the files of a channel are stored. '
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-get-filesfolder?view=graph-rest-1.0
      operationId: teams.channels.GetFilesFolder
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/filesFolder'
  '/teams/{team-id}/channels/{channel-id}/filesFolder/content':
    description: Provides operations to manage the media for the team entity.
    get:
      tags:
        - teams.channel
      summary: Get content for the navigation property filesFolder from teams
      description: 'The content stream, if the item represents a file.'
      operationId: teams.channels.GetFilesFolderContent
      parameters:
        - name: $format
          in: query
          description: Format of the content
          schema:
            type: string
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - teams.channel
      summary: Update content for the navigation property filesFolder in teams
      description: 'The content stream, if the item represents a file.'
      operationId: teams.channels.UpdateFilesFolderContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - teams.channel
      summary: Delete content for the navigation property filesFolder in teams
      description: 'The content stream, if the item represents a file.'
      operationId: teams.channels.DeleteFilesFolderContent
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
  '/teams/{team-id}/channels/{channel-id}/members':
    description: Provides operations to manage the members property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: List members of a channel
      description: 'Get a list of members in a channel, including direct members of standard, private, and shared channels. Use the List allMembers API to retrieve both direct and indirect members of a shared channel. This method supports federation. Only a user who is a member of the shared channel can retrieve the channel member list.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-list-members?view=graph-rest-1.0
      operationId: teams.channels.ListMembers
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/ConversationMemberCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - teams.channel
      summary: Add member to channel
      description: Add a conversationMember to a channel. This operation is allowed only for channels with a membershipType value of private or shared.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-post-members?view=graph-rest-1.0
      operationId: teams.channels.CreateMembers
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMember'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/members'
  '/teams/{team-id}/channels/{channel-id}/members/{conversationMember-id}':
    description: Provides operations to manage the members property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: Get member of channel
      description: Get a conversationMember from a channel.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-get-members?view=graph-rest-1.0
      operationId: teams.channels.GetMembers
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.channel
      summary: Update member in channel
      description: Update the role of a conversationMember in a channel. This operation is allowed only for channels with a membershipType value of private or shared.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-update-members?view=graph-rest-1.0
      operationId: teams.channels.UpdateMembers
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationMember'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.channel
      summary: Remove member from channel
      description: Delete a conversationMember from a channel. This operation is allowed only for channels with a membershipType value of private or shared.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-delete-members?view=graph-rest-1.0
      operationId: teams.channels.DeleteMembers
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: conversationMember-id
        in: path
        description: The unique identifier of conversationMember
        required: true
        schema:
          type: string
        x-ms-docs-key-type: conversationMember
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/members/{conversationMember-id}'
  '/teams/{team-id}/channels/{channel-id}/members/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - teams.channel
      summary: Get the number of the resource
      operationId: teams.channels.members.GetCount-8e98
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
  '/teams/{team-id}/channels/{channel-id}/members/add':
    description: Provides operations to call the add method.
    post:
      tags:
        - teams.channel
      summary: Invoke action add
      description: Add multiple members in a single request to a team. The response provides details about which memberships could and couldn't be created.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/conversationmembers-add?view=graph-rest-1.0
      operationId: teams.team.channels.channel.members.add
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    $ref: '#/components/schemas/ConversationMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/ActionResultPart'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/allMembers/add'
      - '/teams/{team-id}/members/add'
      - '/teams/{team-id}/primaryChannel/allMembers/add'
      - '/teams/{team-id}/primaryChannel/members/add'
  '/teams/{team-id}/channels/{channel-id}/members/remove':
    description: Provides operations to call the remove method.
    post:
      tags:
        - teams.channel
      summary: Invoke action remove
      description: Remove multiple members from a team in a single request. The response provides details about which memberships could and couldn't be removed.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/conversationmember-remove?view=graph-rest-1.0
      operationId: teams.team.channels.channel.members.remove
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                values:
                  type: array
                  items:
                    $ref: '#/components/schemas/ConversationMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/BaseCollectionPaginationCountResponse'
                  - type: object
                    properties:
                      value:
                        type: array
                        items:
                          $ref: '#/components/schemas/ActionResultPart'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/allMembers/remove'
      - '/teams/{team-id}/members/remove'
      - '/teams/{team-id}/primaryChannel/allMembers/remove'
      - '/teams/{team-id}/primaryChannel/members/remove'
  '/teams/{team-id}/channels/{channel-id}/messages':
    description: Provides operations to manage the messages property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: List channel messages
      description: 'Retrieve the list of messages (without the replies) in a channel of a team.  To get the replies for a message, call the list message replies or the get message reply API.  This method supports federation. To list channel messages in application context, the request must be made from the tenant that the channel owner belongs to (represented by the tenantId property on the channel).'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-list-messages?view=graph-rest-1.0
      operationId: teams.channels.ListMessages
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/ChatMessageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - teams.channel
      summary: Send chatMessage in channel
      description: Send a new chatMessage in the specified channel.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-post-messages?view=graph-rest-1.0
      operationId: teams.channels.CreateMessages
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/messages'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}':
    description: Provides operations to manage the messages property of the microsoft.graph.channel entity.
    get:
      tags:
        - teams.channel
      summary: Get chatMessage in a channel or chat
      description: Retrieve a single message or a message reply in a channel or a chat.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-get?view=graph-rest-1.0
      operationId: teams.channels.GetMessages
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.channel
      summary: Update chatMessage
      description: "Update a chatMessage object. \r\nExcept for the policyViolation property, all properties of a chatMessage can be updated in delegated permissions scenarios.\r\nOnly the policyViolation property of a chatMessage can be updated in application permissions scenarios. The update only works for chats where members are Microsoft Teams users. If one of the participants is using Skype, the operation fails. This method doesn't support federation. Only the user in the tenant who sent the message can perform data loss prevention (DLP) updates on the specified chat message."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-update?view=graph-rest-1.0
      operationId: teams.channels.UpdateMessages
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
        required: true
      responses:
        2XX:
          description: Any Response
          content:
            '*/*':
              schema:
                description: Any type of entity body
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.channel
      summary: Delete navigation property messages for teams
      operationId: teams.channels.DeleteMessages
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/hostedContents':
    description: Provides operations to manage the hostedContents property of the microsoft.graph.chatMessage entity.
    get:
      tags:
        - teams.channel
      summary: List hostedContents
      description: 'Retrieve the list of chatMessageHostedContent objects from a message. This API only lists the hosted content objects. To get the content bytes, see get chatmessage hosted content.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-list-hostedcontents?view=graph-rest-1.0
      operationId: teams.channels.messages.ListHostedContents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/ChatMessageHostedContentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - teams.channel
      summary: Create new navigation property to hostedContents for teams
      operationId: teams.channels.messages.CreateHostedContents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageHostedContent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageHostedContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/hostedContents'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}':
    description: Provides operations to manage the hostedContents property of the microsoft.graph.chatMessage entity.
    get:
      tags:
        - teams.channel
      summary: Get hostedContents from teams
      description: 'Content in a message hosted by Microsoft Teams - for example, images or code snippets.'
      operationId: teams.channels.messages.GetHostedContents
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageHostedContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.channel
      summary: Update the navigation property hostedContents in teams
      operationId: teams.channels.messages.UpdateHostedContents
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageHostedContent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageHostedContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.channel
      summary: Delete navigation property hostedContents for teams
      operationId: teams.channels.messages.DeleteHostedContents
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessageHostedContent-id
        in: path
        description: The unique identifier of chatMessageHostedContent
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessageHostedContent
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/{chatMessageHostedContent-id}'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/{chatMessageHostedContent-id}'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}/$value':
    description: Provides operations to manage the media for the team entity.
    get:
      tags:
        - teams.channel
      summary: List hostedContents
      description: 'Retrieve the list of chatMessageHostedContent objects from a message. This API only lists the hosted content objects. To get the content bytes, see get chatmessage hosted content.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-list-hostedcontents?view=graph-rest-1.0
      operationId: teams.channels.messages.GetHostedContentsContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - teams.channel
      summary: Update media content for the navigation property hostedContents in teams
      description: The unique identifier for an entity. Read-only.
      operationId: teams.channels.messages.UpdateHostedContentsContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - teams.channel
      summary: Delete media content for the navigation property hostedContents in teams
      description: The unique identifier for an entity. Read-only.
      operationId: teams.channels.messages.DeleteHostedContentsContent
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessageHostedContent-id
        in: path
        description: The unique identifier of chatMessageHostedContent
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessageHostedContent
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/hostedContents/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - teams.channel
      summary: Get the number of the resource
      operationId: teams.channels.messages.hostedContents.GetCount-80f2
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/setReaction':
    description: Provides operations to call the setReaction method.
    post:
      tags:
        - teams.channel
      summary: Invoke action setReaction
      operationId: teams.team.channels.channel.messages.chatMessage.setReaction
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reactionType:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/setReaction'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/setReaction'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/setReaction'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/softDelete':
    description: Provides operations to call the softDelete method.
    post:
      tags:
        - teams.channel
      summary: Invoke action softDelete
      description: Delete a single chatMessage or a chat message reply in a channel or a chat.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-softdelete?view=graph-rest-1.0
      operationId: teams.team.channels.channel.messages.chatMessage.softDelete
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/softDelete'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/softDelete'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/softDelete'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/undoSoftDelete':
    description: Provides operations to call the undoSoftDelete method.
    post:
      tags:
        - teams.channel
      summary: Invoke action undoSoftDelete
      description: Undo soft deletion of a single chatMessage or a chat message reply in a channel or a chat.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-undosoftdelete?view=graph-rest-1.0
      operationId: teams.team.channels.channel.messages.chatMessage.undoSoftDelete
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/undoSoftDelete'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/undoSoftDelete'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/undoSoftDelete'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/unsetReaction':
    description: Provides operations to call the unsetReaction method.
    post:
      tags:
        - teams.channel
      summary: Invoke action unsetReaction
      operationId: teams.team.channels.channel.messages.chatMessage.unsetReaction
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                reactionType:
                  type: string
                  nullable: true
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/unsetReaction'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/unsetReaction'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/unsetReaction'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies':
    description: Provides operations to manage the replies property of the microsoft.graph.chatMessage entity.
    get:
      tags:
        - teams.channel
      summary: List replies
      description: 'List all the replies to a message in a channel of a team. This method lists only the replies of the specified message, if any. To get the message itself, call get channel message.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-list-replies?view=graph-rest-1.0
      operationId: teams.channels.messages.ListReplies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/ChatMessageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - teams.channel
      summary: Reply to a message in a channel
      description: Create a new reply to a chatMessage in a specified channel.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/channel-post-messagereply?view=graph-rest-1.0
      operationId: teams.channels.messages.CreateReplies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}':
    description: Provides operations to manage the replies property of the microsoft.graph.chatMessage entity.
    get:
      tags:
        - teams.channel
      summary: Get chatMessage in a channel or chat
      description: Retrieve a single message or a message reply in a channel or a chat.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-get?view=graph-rest-1.0
      operationId: teams.channels.messages.GetReplies
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.channel
      summary: Update the navigation property replies in teams
      operationId: teams.channels.messages.UpdateReplies
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessage'
        required: true
      responses:
        2XX:
          description: Any Response
          content:
            '*/*':
              schema:
                description: Any type of entity body
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.channel
      summary: Delete navigation property replies for teams
      operationId: teams.channels.messages.DeleteReplies
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessage-id1
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents':
    description: Provides operations to manage the hostedContents property of the microsoft.graph.chatMessage entity.
    get:
      tags:
        - teams.channel
      summary: List hostedContents
      description: 'Retrieve the list of chatMessageHostedContent objects from a message. This API only lists the hosted content objects. To get the content bytes, see get chatmessage hosted content.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-list-hostedcontents?view=graph-rest-1.0
      operationId: teams.channels.messages.replies.ListHostedContents
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/ChatMessageHostedContentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - teams.channel
      summary: Create new navigation property to hostedContents for teams
      operationId: teams.channels.messages.replies.CreateHostedContents
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageHostedContent'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageHostedContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessage-id1
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/hostedContents'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/hostedContents'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/{chatMessageHostedContent-id}':
    description: Provides operations to manage the hostedContents property of the microsoft.graph.chatMessage entity.
    get:
      tags:
        - teams.channel
      summary: Get hostedContents from teams
      description: 'Content in a message hosted by Microsoft Teams - for example, images or code snippets.'
      operationId: teams.channels.messages.replies.GetHostedContents
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageHostedContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - teams.channel
      summary: Update the navigation property hostedContents in teams
      operationId: teams.channels.messages.replies.UpdateHostedContents
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageHostedContent'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageHostedContent'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - teams.channel
      summary: Delete navigation property hostedContents for teams
      operationId: teams.channels.messages.replies.DeleteHostedContents
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessage-id1
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessageHostedContent-id
        in: path
        description: The unique identifier of chatMessageHostedContent
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessageHostedContent
    x-ms-docs-grouped-path:
      - '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}'
      - '/teams/{team-id}/primaryChannel/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/{chatMessageHostedContent-id}'
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/{chatMessageHostedContent-id}/$value':
    description: Provides operations to manage the media for the team entity.
    get:
      tags:
        - teams.channel
      summary: List hostedContents
      description: 'Retrieve the list of chatMessageHostedContent objects from a message. This API only lists the hosted content objects. To get the content bytes, see get chatmessage hosted content.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chatmessage-list-hostedcontents?view=graph-rest-1.0
      operationId: teams.channels.messages.replies.GetHostedContentsContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - teams.channel
      summary: Update media content for the navigation property hostedContents in teams
      description: The unique identifier for an entity. Read-only.
      operationId: teams.channels.messages.replies.UpdateHostedContentsContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
        - teams.channel
      summary: Delete media content for the navigation property hostedContents in teams
      description: The unique identifier for an entity. Read-only.
      operationId: teams.channels.messages.replies.DeleteHostedContentsContent
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessage-id1
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessageHostedContent-id
        in: path
        description: The unique identifier of chatMessageHostedContent
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessageHostedContent
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/$count':
    description: Provides operations to count the resources in the collection.
    get:
      tags:
        - teams.channel
      summary: Get the number of the resource
      operationId: teams.channels.messages.replies.hostedContents.GetCount-3bb6
      parameters:
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
      - name: team-id
        in: path
        description: The unique identifier of team
        required: true
        schema:
          type: string
        x-ms-docs-key-type: team
      - name: channel-id
        in: path
        description: The unique identifier of channel
        required: true
        schema:
          type: string
        x-ms-docs-key-type: channel
      - name: chatMessage-id
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
      - name: chatMessage-id1
        in: path
        description: The unique identifier of chatMessage
        required: true
        schema:
          type: string
        x-ms-docs-key-type: chatMessage
  '/teams/{team-id}/channels/{channel-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/setReaction':
[...]
