name: Deployment

on:
  release:
    types: [published]

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Ballerina Build
              uses: ballerina-platform/ballerina-action@slbeta6
              with:
                  args:
                      pack ./teams
              env:
                  REFRESH_URL: ${{ secrets.REFRESH_URL }}
                  REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
                  CLIENT_ID: ${{ secrets.CLIENT_ID }}
                  CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
                  USER_ID_1: ${{ secrets.USER_ID_1 }}
                  USER_ID_2: ${{ secrets.USER_ID_2 }}
                  USER_ID_3: ${{ secrets.USER_ID_3 }}
            - name: Ballerina Push
              uses: ballerina-platform/ballerina-action@slbeta6
              with:
                  args:
                      push
              env:
                  WORKING_DIR: ./teams
                  BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_ACCESS_TOKEN }}
                  
